<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">Forgot Password</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17"
        style="background-image: url('assets/images/backgrounds/login-bg.jpg')">
        <div class="container">
            <div class="form-box">
                
                            <div class="panel-body">
                                <div class="text-center">
                                    <img src="https://i.ibb.co/rshckyB/car-key.png" alt="car-key" border="0">
                                    <h2 class="text-center">Forgot Password?</h2>
                                    <p>Enter your email id here.</p>
                                    <br>
                                    <br>

                                    <form [formGroup]="sendEmailForm" id="register-form" role="form" autocomplete="off"
                                        class="form" method="post">

                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i
                                                        class="glyphicon glyphicon-envelope color-blue"></i></span>
                                                <input type="email" class="form-control"
                                                    [ngClass]="sendEmailForm.get('email').errors ? 'is-invalid' : 'is-valid' "
                                                    id="email" formControlName="email">
                                                <div class="valid-feedback"
                                                    *ngIf="sendEmailForm.get('email').touched && sendEmailForm.get('email').errors?.required">
                                                    This value is required.
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <input name="btnForget" class="btn btn-lg btn-primary btn-block btnForget"
                                                value="Reset Password" type="button" (click)="sendEmail()">
                                        </div>

                                    </form>
                                </div>
                        
                    </div>
                

            </div>

        </div><!-- End .container -->
    </div><!-- End .login-page section-bg -->
</main><!-- End .main -->