.mat-form-field {
    width: 100% !important;
}
.progress{
    margin-top: auto;
    height: 0.5rem !important;
    width: 100%;
    margin-top: 0px !important;
    margin-bottom: 15px !important;
    border-color: black;
    background-color: gainsboro;
}
:host {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  }
  
  .text-center {
    text-align: center;
  }
  
  .list {
    max-width: 550px;
    margin: auto;
  }
  
  li {
    margin-bottom: 5px;
  }
  body{
    background-color: #f3f3f3;
   
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;

}
p {
    font-size: 0.875rem;
    margin-bottom: .5rem;
    line-height: 1.3rem;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 3px;
  font-family: "Poppins", sans-serif;
  line-height: 3.0rem;
}


/*Styles for product card*/


.popup-btn{
  z-index: 2;
  
}

/*Styles for popup view*/
.popup-view{
  z-index: 2;
  background: rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

 .popup-view.active{
  opacity: 1;
  visibility: visible;
}
.btn1{
  display: initial !important;
}
 .popup-card{
  position: relative;
  display: flex;
  width: 800px;
  height: 500px;
  top: -5px;
  right: 10px;
  border: 3px solid sandybrown;
  
  
}

.line-break {
  width: 100%;
}
.popup-img{
  z-index: 2;
  background: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 95%;
  transform: translateY(25px);
  border-radius: 10px;
  /* border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; */
}

 .popup-img{
  z-index: 2;
  position: relative;
  width: 450px;
  height: 470px;
  
  
 
}
/* .img{

  width: 300px;
  height: 105px;
} */

 .popup-card .info{
  z-index: 2;
  background: black;
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 10px;
  
}

 .popup-card .close-btn{
  color: #555;
  z-index: 3;
  position: absolute;
  right: 0;
  font-size: 20px;
  margin: 20px;
  cursor: pointer;
}

 .popup-card .info h2{
  font-size: 30px;
  line-height: 20px;
  margin: 10px;
  line-height: 1.25;
}

 .popup-card .info h2 span{
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.25;
}

 .popup-card .info p{
  font-size: 15px;
  margin: 10px;
  line-height: 1.25;
}

 .popup-card .info .price{
  font-size: 30px;
  font-weight: 300;
  margin: 10px;
}

 .popup-card .info .add-cart-btn{
  color: #fff;
  background: #009DD2;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin: 10px auto;
  padding: 10px 50px;
  border-radius: 20px;
}

 .popup-card .info .add-wish{
  color: #009DD2;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

/*Responsive styles*/

@media (max-width: 900px){
   .popup-card{
    flex-direction: column;
    width: 550px;
    height: auto;
  }

   .popup-card -img{
    z-index: 3;
    width: 100%;
    height: 200px;
    transform: translateY(0);
    border-bottom-left-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

   .popup-card -img img{
    left: initial;
    max-width: 100%;
  }

   .popup-card .info{
    width: 100%;
    height: auto;
    padding: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

   .popup-card .info h2{
    margin: 20px 5px 5px 5px;
    font-size: 25px;
  }

   .popup-card .info h2 span{
    font-size: 10px;
  }

   .popup-card .info p{
    margin: 5px;
    font-size: 13px;
  }

   .popup-card .info .price{
    margin: 5px;
    font-size: 30px;
  }

   .popup-card .info .add-cart-btn{
    margin: 5px auto;
    padding: 5px 40px;
    font-size: 14px;
  }

   .popup-card .info .add-wish{
    font-size: 14px;
  }

   .popup-card .close-btn{
    z-index: 4;
  }
}
.toolbox .select-custom .form-control{
  max-width: 150px !important;
}

.container .drop{
	position: relative;
	width: 350px;
	height: 350px;
	box-shadow: inset 20px 20px 20px rgba(0,0,0,0.05),25px 35px 20px rgba(0,0,0,0.05),25px 30px 30px rgba(0,0,0,0.05),
		inset -20px -20px 25px rgba(255,255,255,0.9);
	transition: 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 62% 38% 24% 76% / 59% 60% 40% 41%  ;
}
.container .drop:hover{
	border-radius: 50%;
}
.container .drop::before{
	content:'';
	position: absolute;
	top: 50px;
	left: 85px;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: #fff;
	opacity: 0.9;
}
.container .drop::after{
	content: '';
	position: absolute;
	top: 85px;
	left: 110px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #fff;
	opacity: 0.9;
}
.container .drop .content{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	padding: 40px;
	gap: 15px;
}
.container .drop .content h2{
	position: relative;
	color: #333;
	font-size: 1.5em;
}
.container .drop .content form{
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	align-items: center;
}
.container .drop .content form .input-box{
	position: relative;
	width: 225px;
	box-shadow: inset 2px 5px 10px rgba(0,0,0,0.1),
		inset -2px -5px 10px rgba(255,255,255,1),15px 15px 10px rgba(0,0,0,0.05),15px 10px 15px rgba(0,0,0,0.025);
	border-radius: 25px;
}
.container .drop .content form .input-box::before{
	content: '';
	position: absolute;
	top: 8px;
	left: 50%;
	transform: translateX(-50%);
	width: 65%;
	height: 5px;
	background: rgba(255,255,255,0.5);
	border-radius: 5px;
}
.container .drop .content form .input-box input{
	border: none;
	outline: none;
	background: transparent;
	width: 100%;
	font-size: 1em;
	padding: 10px 15px;
}
.container .drop .content form .input-box input[type='submit']{
	color: #fff;
	text-transform: uppercase;
	font-size: 1em;
	cursor: pointer;
	letter-spacing: 0.1em;
	font-weight: 500;
}
.container .drop .content form .input-box:last-child{
	width: 120px;
	background: #3a86ff;
	box-shadow: inset 2px 5px 10px rgba(0,0,0,0.1),
15px 15px 10px rgba(0,0,0,0.05),15px 10px 15px rgba(0,0,0,0.025);
	transition: 0.5s;
}
.container .drop .content form .input-box:last-child:hover{
	width: 150px;
}
.btn1{
	position: absolute;
	right: 60px;
	bottom: 0;
	width: 120px;
	height: 120px;
	background: #00b4d8;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	text-decoration: none;
	color: black;
	line-height: 1.2em;
	letter-spacing: 0.1em;
	transition: 0.25s;
	text-align: center;
	box-shadow: inset 10px 10px 10px rgba(0,180,216,0.05),15px 25px 10px rgba(0,180,216,0.1),15px 20px 20px rgba(0,180,216,0.1),
		inset -10px -10px 15px rgba(255,255,255,0.5); 
	border-radius: 44% 56% 65% 35% / 57% 58% 42% 43% ;
}
.btn1::before{
	content: '';
	position: absolute;
	top: 15px;
	left: 30px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #fff;
	opacity: 0.45;
}
.btn1.signup{
	bottom: 250px;
	right: 60px;
	width: 80px;
	height: 80px;
	border-radius: 49% 51% 52% 48% / 63% 59% 41% 37%;
	background: #f77f00;
	box-shadow: inset 10px 10px 10px rgba(247,127,0,0.05),15px 25px 10px rgba(247,127,0,0.1),15px 20px 20px rgba(247,127,0,0.1),
		inset -10px -10px 15px rgba(255,255,255,0.5); 
	
}
.btn1.login{
	bottom: 250px;
	right: 60px;
	width: 80px;
	height: 80px;
	border-radius: 49% 51% 52% 48% / 63% 59% 41% 37%;
	background:darkseagreen;
	box-shadow: inset 10px 10px 10px rgba(247,127,0,0.05),15px 25px 10px rgba(247,127,0,0.1),15px 20px 20px rgba(247,127,0,0.1),
		inset -10px -10px 15px rgba(255,255,255,0.5); 
	
}
.btn1.signup::before{
	left: 20px;
	width: 15px;
	height: 15px;
}
.btn1:hover{
	border-radius: 50%;
}